//reusable color 
$primary-color: #9356DC;
$primary-color: #997bbd;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$secondary-text-color: #494949;
$background-color: #EAEAEA;
$second-background-color: #F6F6F6;