header {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.216);

    .logo {
        font-family: $font-title, sans-serif;
        font-size: 35px;
        font-weight: 500;
    }

    .btn__back {
        position: absolute;
        top: calc((100% - 40px) /2);
        left: 20px;
        font-size: 40px;
        color: black;
        font-weight: 900;
    }
}